

.card{
position: relative;
width: 500px;
height: 300px;

border-radius: 5%;
overflow: hidden;
background: linear-gradient(to right,#1976d2 0% , #d32f2f 100%);
}
.firstimg{
    width: 500px;
height: 260px;
border-radius: 5%;


}
.segundaparte{
position: absolute;
background: linear-gradient(to right,#1976d2 0% , #d32f2f 100%);
width: 100%;       
  height: 150px;     
  
  bottom: 0;        
  left: 0;
  transform: rotate(355deg);
  border-radius: 20px;
}

.segundaimg{
    position: absolute;
    width: auto;
height: 50px;

bottom: 125px;        
  left: 50px;
  border-radius: 10%;
  transform: rotate(5deg);

}
#text1{
position: absolute;
    color: white;
    right: 40px;
    bottom: 90px;
    transform: rotate(5deg);
}
#date{
    position: absolute;
    color: white;
    left: 45px;
}
.partedeabajo{
    position: absolute;
width: 100%;       
  height: 75px; 
 bottom: 0;        
  left: 0;
  transform: rotate(5deg);
}
#button{
    position: absolute;
    right: 80px;
    bottom: 37px;
    border: solid 1px white;
    color: white;
    height: 40px;
    width: 80px;

    
}

button{
background: none;
color: white;
border: none;
padding-top: 10px;
}
 
a{
  color: white;
 

}

