*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

body{
    background-color:  #232323; ;
}

h1, h2, h3, h4, h5, h6, p, a{
    color: white;
    text-decoration: none;

}

.text-style{
    font-family: monospace;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: bolder;
}

.purple{ color: purple;

}

.orange{ color: orange;

}

.celeste{
color: aqua;
}

.text-left{
text-align: left;
}
.text-center{
text-align: center;
}
.text-right{
text-align: right;
}


.box{
    display: inline-block;
    background-color: blueviolet;
    padding: 10px 50px;
margin: 30px auto 0px auto;
border: 3px solid white;
border-radius: 10px;
}
